{% if query is defined %}
{% else %}
  {% set query = "" %}
{% endif %}

    <aside>
      <h4>
        <a href="/blog/archive">Archive</a>
      </h4>
      <h4>Popular Tags</h4>
      {% set allEntries = craft.entries.section('instaBlog').limit(null) %}
      {% set tags = craft.tags.group('instaBlogTags').relatedTo(allEntries) %}
      <ul>
      {% for tag in tags %}
        <li><a href="/blog/tag/{{ tag.name|split(' ')|join('-')|lower }}">{{ tag.name }}</a>
      {% endfor %}          
      </ul>

      <h4>Categories</h4>
      <ul>
        {% nav category in craft.categories.group('instaBlogCategories') %}
          <li>
            <a href="{{ category.url }}">{{ category.title }}</a>
            {% ifchildren %}
              <ul>
                {% children %}
              </ul>
            {% endifchildren %}
          </li>
        {% endnav %}
      </ul>
      <form action="/blog/search">
        <label for="search">
          <h4>Search</h4>
        </label>
        <div>
          <input type="text" name="q" placeholder="Search" value="{{ query }}" tabindex="1">
          <button type="submit"><span class="fa fa-search"></span></button>
        </div>
      </form>
    </aside>